{
  "presets": [
    [
      "@babel/preset-env",
    {
      "corejs": "3",
      "useBuiltIns": "usage"
    }
  ],
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@babel/env"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
