.main {
    position: relative;
    border-top: 1px solid #e6e6e6;
}
.checkbox-checked{
    color: #d9d9d9;
    background-position: center left;
    /*position*/
    background-repeat: no-repeat;
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
    font-size: 24px;
    font-weight: 100;
    text-decoration: line-through;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E");
}

.checkbox-unchecked{
    background-position: center left;
    background-repeat: no-repeat;
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
    font-size: 24px;
    color:#4d4d4d;
    font-weight: 100;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
}
.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    position: relative;
    font-size: 24px;
    /*z-index:13;*/
    border-bottom: 1px solid #ededed;
}


.toggle {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;

}

.destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    font-weight: 100;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
}

.destroy:hover {
    color: #C18585;
}


.todo-list li:hover .destroy {
    display: block;
}

.edit{
    font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin-left: 57px;
    padding: 7px;
    width: 492px;
    border:1px solid #999;
    box-shadow:inset 0 -1px 5px 0 rgba(0, 0, 0,0.2 );
    box-sizing: border-box;
}

