.todoapp {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
}

.todoapp input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 100;
    color: #d9d9d9;
}

.todoapp h1 {
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
}


.new-todo-input {
    position: relative;
    margin: 0;
    width: 100%;
    font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #4d4d4d;
    padding: 16px 16px 16px 60px;
    height: 65px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-sizing: border-box;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}


.new-todo-form{
    position:relative;
}
.new-todo-div{
    position:absolute;
    float: left;
    height: 65px;
    width: 65px;
    z-index:2;
}
.toggle-all{
    transform: rotate(89deg);
    display: block;
    font-size: 23px;
    position: relative;
    top: 28px;
    left: 20px;
    height: 13px;
    width: 13px;
    color: #e6e6e6;
}

.toggle-all-checked{
    transform: rotate(89deg);
    display: block;
    font-size: 23px;
    position: relative;
    top: 28px;
    left: 20px;
    height: 13px;
    width: 13px;
    color: #737373;
}